body {
    margin: 0px;
    background-image: linear-gradient(to top, #004173, #0cb7f2);

/* CABEÇALHO */

}
#titulo {
    height: 200px;
    width: 1470px;
    margin-left: 20px;
    background-color: rgb(23, 11, 191);
    display: flex;
    justify-content: center;
    border: 5px black solid;
    border-radius: 25px;
    position: absolute;
    top: 25px;
}

#borda_titulo {
    background-color: black;
    height: 260px;
    position: relative;
}

#Clash-title {
    height:200px;
}

/* CONTEÚDO PRINCIPAL */

nav {
    background-color: white;
    width: 1270px;
    height: 1000px;
    border-radius: 25px;
    position: relative;
    left: 130px;
}

#menu-1 {
    width: 550px;
    height: 250px;
    margin: 80px;
    background-image: linear-gradient(to bottom, #f3e387, #fed71c);
    display: flex;
    justify-content: center;
    border: 5px black solid;
    font-size: 50px;
    font-family: fantasy;
    position: absolute;
    left: -20px;
    top: -30px;
    
}
#menu-2 {
    width: 550px;
    height: 250px;
    margin: 80px;
    background-image: linear-gradient(to bottom, #f3e387, #fed71c);
    display: flex;
    justify-content: center;
    border: 5px black solid;
    font-size: 50px;
    font-family: fantasy;
    position: relative;
    left: 570px;
    top: 50px;
}
#menu-3 {
    width: 550px;
    height: 250px;
    margin: 80px;
    background-image: linear-gradient(to bottom, #f3e387, #fed71c);
    display: flex;
    justify-content: center;
    border: 5px black solid;
    font-size: 50px;
    font-family: fantasy;
    position: absolute;
    left: -20px;
    bottom: 290px;
}

#menu-4 {
    width: 550px;
    height: 250px;
    margin: 80px;
    background-image: linear-gradient(to bottom, #f3e387, #fed71c);
    display: flex;
    justify-content: center;
    border: 5px black solid;
    font-size: 50px;
    font-family: fantasy;
    position: relative;
    left: 570px;
    top: 30px;
}

#menu-5 {
    width: 550px;
    height: 250px;
    margin: 80px;
    background-image: linear-gradient(to bottom, #f3e387, #fed71c);
    display: flex;
    justify-content: center;
    border: 5px black solid;
    font-size: 50px;
    font-family: fantasy;
    position: absolute;
    bottom: -30px;
    left: -20px;
}
#menu-6 {
    width: 550px;
    height: 250px;
    margin: 80px;
    background-image: linear-gradient(to bottom, #f3e387, #fed71c);
    display: flex;
    justify-content: center;
    border: 5px black solid;
    font-size: 50px;
    font-family: fantasy;
    position: relative;
    left: 570px;
    top: 10px;
}
#rodapé {
    height: 200px;
    width: 1750px;
    margin-left: 20px;
    margin-bottom: 50px;
    background-color: rgba(255, 217, 0, 0.855);
    display: flex;
    justify-content: center;
    border: 5px black solid;
    border-radius: 25px;
    font-size: 30px;
    font-family: sans-serif;
}
#coroa-img {
    height: 250px;
    width: 200px;
}