body {
    margin: 0px;
    background-image: linear-gradient(to top, #004173, #0cb7f2);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#titulo {
    height: 200px;
    width: 1470px;
    margin-left: 20px;
    background-color: rgb(23, 11, 191);
    display: flex;
    justify-content: center;
    border: 5px black solid;
    border-radius: 25px;
    position: absolute;
    top: 25px;
}
#borda_titulo {
    background-color: black;
    height: 260px;
    display: flex;
    justify-content: center;
}
#Clash-title {
    height:200px;
}
nav {
    background-color: rgba(0, 0, 0, 0.575);
    width: 1270px;
    height: 1000px;
    border-radius: 25px;
    margin-top: 50px;
    margin-left: 330px;
    display: flex;
}
#menu-1 {
    width: 550px;
    height: 250px;
    margin: 40px;
    background-image: linear-gradient(to bottom, #f3e387, #fed71c);
    display: flex;
    justify-content: center;
    border: 5px black solid;
    border-radius:20px;
    font-size: 50px;
    font-family: fantasy;
    
}
#menu-2 {
    width: 550px;
    height: 250px;
    margin: 40px;
    background-image: linear-gradient(to bottom, #f3e387, #fed71c);
    display: flex;
    justify-content: center;
    border: 5px black solid;
    border-radius:20px;
    font-size: 50px;
    font-family: fantasy;
}
#menu-3 {
    width: 550px;
    height: 250px;
    margin: 40px;
    background-image: linear-gradient(to bottom, #f3e387, #fed71c);
    display: flex;
    justify-content: center;
    border: 5px black solid;
    border-radius:20px;
    font-size: 50px;
    font-family: fantasy;
}
#menu-4 {
    width: 550px;
    height: 250px;
    margin: 40px;
    background-image: linear-gradient(to bottom, #f3e387, #fed71c);
    display: flex;
    justify-content: center;
    border: 5px black solid;
    border-radius:20px;
    font-size: 50px;
    font-family: fantasy;
}
#menu-5 {
    width: 550px;
    height: 250px;
    margin: 40px;
    background-image: linear-gradient(to bottom, #f3e387, #fed71c);
    display: flex;
    justify-content: center;
    border: 5px black solid;
    border-radius:20px;
    font-size: 50px;
    font-family: fantasy;
}
#menu-6 {
    width: 550px;
    height: 250px;
    margin: 40px;
    background-image: linear-gradient(to bottom, #f3e387, #fed71c);
    display: flex;
    justify-content: center;
    border: 5px black solid;
    border-radius:20px;
    font-size: 50px;
    font-family: fantasy;

}
#coluna-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
#coluna-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.balao {
    height: 250px;
    width: 250px;
}
#rodapé {
    height: 200px;
    width: 1750px;
    margin-left: 20px;
    margin-bottom: 50px;
    background-color: rgb(23, 11, 191);
    display: flex;
    justify-content: center;
    border: 5px black solid;
    border-radius: 25px;
    font-size: 30px;
    font-family: arial;
    margin-top: 80px;
    margin-left: 70px;
    color:white;
}
#coroa-img {
    height: 250px;
    width: 200px;
}
a {
    text-decoration: none;
    color: #292929;
    position: absolute;
}
a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #007bff;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

a:hover::after {
    transform: scaleX(1);
}
#footer-link {
    margin-top:100px;
    color:white;
}
#wiki {
    position:relative;
    background-color: white;
    width: 1070px;
    height: 800px;
    padding-left: 8px;
    margin-left: 100px;
    margin-top: 100px;
    border-radius: 20px;

}

/* PÁGINA DAS CARTAS */

p {
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p.para_anti_aereas {
    position: relative;
    top: 210px;
}

p.para_tanques {
    position: relative;
    top: 220px;
}

p.para_terrestres {
    position: relative;
    top: 200px;
}

p.para_anti_tanque {
    position: relative;
    top: 180px;
}

p.para_aereas {
    position: relative;
    top: 210px;
}

p.para_mecanicas {
    position: relative;
    top: 60px;
}