body {
    margin: 0px;
    background-color: rgb(102, 62, 2);
}
#titulo {
    height: 200px;
    width: 1750px;
    margin: 80px;
    background-color: blue;
    display: flex;
    justify-content: center;
}
#Clash-title {
    height:200px;
}