body {
    margin: 0px;
    background-image: linear-gradient(to top, #004173, #0cb7f2);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#titulo {
    height: 200px;
    width: 1470px;
    margin-left: 20px;
    background-color: rgb(23, 11, 191);
    display: flex;
    justify-content: center;
    border: 5px black solid;
    border-radius: 25px;
    position: absolute;
    top: 25px;
}
#borda_titulo {
    background-color: black;
    height: 260px;
    display: flex;
    justify-content: center;
}
#Clash-title {
    height:200px;
}
nav {
    background-color: rgba(0, 0, 0, 0.575);
    width: 1270px;
    height: 1000px;
    border-radius: 25px;
    margin-top: 50px;
    margin-left:270px;
    display: flex;
}
#menu-1 {
    width: 550px;
    height: 250px;
    margin: 40px;
    background-image: linear-gradient(to bottom, #f3e387, #fed71c);
    display: flex;
    justify-content: center;
    border: 5px black solid;
    border-radius:20px;
    font-size: 50px;
    font-family: fantasy;
    
}
#menu-2 {
    width: 550px;
    height: 250px;
    margin: 40px;
    background-image: linear-gradient(to bottom, #f3e387, #fed71c);
    display: flex;
    justify-content: center;
    border: 5px black solid;
    border-radius:20px;
    font-size: 50px;
    font-family: fantasy;
}
#menu-3 {
    width: 550px;
    height: 250px;
    margin: 40px;
    background-image: linear-gradient(to bottom, #f3e387, #fed71c);
    display: flex;
    justify-content: center;
    border: 5px black solid;
    border-radius:20px;
    font-size: 50px;
    font-family: fantasy;
}
#menu-4 {
    width: 550px;
    height: 250px;
    margin: 40px;
    background-image: linear-gradient(to bottom, #f3e387, #fed71c);
    display: flex;
    justify-content: center;
    border: 5px black solid;
    border-radius:20px;
    font-size: 50px;
    font-family: fantasy;
}
#menu-5 {
    width: 550px;
    height: 250px;
    margin: 40px;
    background-image: linear-gradient(to bottom, #f3e387, #fed71c);
    display: flex;
    justify-content: center;
    border: 5px black solid;
    border-radius:20px;
    font-size: 50px;
    font-family: fantasy;
}
#menu-6 {
    width: 550px;
    height: 250px;
    margin: 40px;
    background-image: linear-gradient(to bottom, #f3e387, #fed71c);
    display: flex;
    justify-content: center;
    border: 5px black solid;
    border-radius:20px;
    font-size: 50px;
    font-family: fantasy;

}
#coluna-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
#coluna-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.balao {
    height: 250px;
    width: 250px;
}
#rodapé {
    height: 200px;
    width: 1750px;
    margin-left: 20px;
    margin-bottom: 50px;
    background-color: rgb(23, 11, 191);
    display: flex;
    justify-content: center;
    border: 5px black solid;
    border-radius: 25px;
    font-size: 30px;
    font-family: arial;
    margin-top: 80px;
    margin-left: 70px;
}
#coroa-img {
    height: 250px;
    width: 200px;
}